<style>
	.hud {
		font-family: sans-serif;
		font-size: 18px;
	}
	
	.centered-taskai {
	  position: fixed;
	  top: 0%;
	  left: 50%;
	  transform: translate(-50%, 50%);
	}
	
	.centered-meniu {
	  position: fixed;
	  top: 85%;
	  left: 5%;
	  transform: translate(-50%, 50%);
	}
	
	.button-taskai {
	  display: inline-block;
	  padding: 8px 12px;
	  font-size: 14px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #fff;
	  background-color: #f44336;
	  border: none;
	  border-radius: 8px;
	  box-shadow: 0 5px #999;
	}

	.button-taskai:hover {background-color: #aa1409}

	.button-taskai:active {
	  background-color: #aa1409;
	  box-shadow: 0 2px #666;
	}

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="hud">
	<div class="centered-taskai">Taškai: <span style="color:red" id="taskai">?</span></div>
	<div class="centered-meniu">
		<button class="button-taskai" id="meniu"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
		<button class="button-taskai" id="perrinkti"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
	</div>
</div>