<style>	
	
	#instrukcija * {
		pointer-events: auto
	}
	
	#instrukcija {
		background-color: #ffffff;
		width: 100vw;
		height: 100vh;
	}
	
	.centered-instrukcija {
	  position: fixed;
	  top: 45%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
	.infoTitle {
		text-align:center;
		font-size: 24px;
		padding: 10px;
		font-family: sans-serif;
	}
	
	.infoTekstas {
		text-align:center;
		font-size: 18px;
		padding: 10px;
		font-family: sans-serif;
	}
	
	.logo {
		position: absolute;
		top: 5%;
		left: 5%;
    	max-width: 20%;
   	 	height: auto;
	}
	
	.atgal {
		position: absolute;
		top: 80%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-left: -80px;
  	}
</style>

<div id="instrukcija">
	<img class="logo" data-id="c22cdfcf157eae326f63c062ae0c8b544dc674ed.png"/>
	<div class="centered-instrukcija"><p class="infoTitle">Kaip žaisti:</p>
	<p class="infoTekstas">1. Spausti ant kubelio, šalia kurio yra vienas ar daugiau vienodu skaičiumi pažymėtų kubelių.<br>
		<br>2. Nuspaustoje vietoje atsiras vienu aukštesnio skaičiaus kubelis.<br>
		<br>3. Visi kiti su nuspaustu kubeliu sujungti kubeliai pranyks ir į jų vietą nukris aukščiau buvę kubeliai.<br>
		<br>4. Viršuje į tuščias vietas bus sugeneruoti nauji pradiniais skaičiais pažymėti kubeliai.<br>
		<br>5. Žaidimo tikslas - pasiekti 10 skaičiumi pažymėtą kubelį ir jį nuspausti.</p></div>
  	<button class='atgal button' id='atgal'>Atgal</button>
</div>