<style>
	
	#pabaiga * {
		pointer-events: auto
	}
	
	#pabaiga {
		background-color: #ffffff;
		width: 100vw;
		height: 100vh;
	}

	.logo {
		position: absolute;
		top: 5%;
		left: 5%;
    	max-width: 20%;
   	 	height: auto;
	}
	
	.kartoti {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-top: -10px;
		margin-left: -80px;
  	}
	.grizti {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-top: 60px;
		margin-left: -80px;
	}
	
	.tekstas {
		text-align:center;
		background: #fefefe;
		font-size: 24px;
		padding: 10px;
		border-radius: 3px;
		margin: 0;
		font-family: sans-serif;
	}
	
	.centered-pabaiga {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -110%);
	}

</style>


<div id="pabaiga">
	<img class="logo" data-id="c22cdfcf157eae326f63c062ae0c8b544dc674ed.png"/>
	<div class="centered-pabaiga"><p class='tekstas'><span id="surinkta">?</span></p></div>
  	<button class='kartoti button' id='kartoti'>Kartoti</button>
	<button class='grizti button'  id='grizti'>Grįžti</button>
</div>

