<style>

	#pradzia * {
		pointer-events: auto
	}
	
	#pradzia {
		background-color: #ffffff;
		width: 100vw;
		height: 100vh;
	}

	.button {
	  display: inline-block;
	  padding: 10px 25px;
	  font-size: 24px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #fff;
	  background-color: #f44336;
	  border: none;
	  border-radius: 15px;
	  box-shadow: 0 9px #999;
	}

	.button:hover {background-color: #aa1409}

	.button:active {
	  background-color: #aa1409;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
	}
	
	.logo {
		position: absolute;
		top: 5%;
		left: 5%;
    	max-width: 20%;
   	 	height: auto;
	}
	
	.pradeti {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-top: -10px;
		margin-left: -80px;
  	}
	.info {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-top: 60px;
		margin-left: -80px;
	}
	.iseiti {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 160px;
		margin-top: 130px;
		margin-left: -80px;
	}
</style>


<div id="pradzia">
	<img class="logo" data-id="c22cdfcf157eae326f63c062ae0c8b544dc674ed.png"/>
  	<button class='pradeti button' id='pradeti'>Pradėti</button>
	<button class='info button' id='info'>Instrukcijos</button>
</div>
